<h1>Olá, pessoas</h1>
<table>
    <tbody>
        <th>Nome</th>
        <th>Sobrenome</th>
        <tbody>
            <td>
                <%=pessoas.nome%>
            </td>
            <td>
                <%=pessoas.sobrenome%>
            </td>
        </tbody>
    </tbody>
</table>